<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ledger_gst.Properties.Settings.ledgerDBConnectionString"
            connectionString="Data Source=DESKTOP-ONIFEJD\SQLEXPRESS;Initial Catalog=ledgerDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ledgerDBConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-ONIFEJD\SQLEXPRESS;integrated security=SSPI;initial catalog=ledgerDB" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>